@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="text-center">
        <h1 class="text-capitalize text-black mt-5">Server Maintenance</h1>
        <p>We are currently performing maintenance on our server to ensure better performance and security.</p>        

        <img class="maintenance-figure" src="~/images/underconstruction.png" alt="Construction of a site" />
        
        <p>We apologize for any inconvenience caused and appreciate your patience.</p>
        <p>For any urgent inquiries, please contact us at <a href="tel:+1-416-224-1100">+1-416-224-1100</a> or <a href="mailto:technical@peo.on.ca">technical@peo.on.ca</a></p>
    </div>
    <div class="text-center text-black mt-5">    
        <h5>When is it scheduled?</h5>
        <h4>Friday, July 8 at 6PM to Monday, July 11 at 9AM</h4>
        
    </div>
</div>

